*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

canvas {
    min-width: 50vw;
    min-height: 80vh;
    background-color: #111111;
}