*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.gameBox {
    /* min-width: 50vw;
    min-height: 80vh; */
    background-color: skyblue;
    margin: 10px 0px;
}

footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}